<form id="login-form" class="row shadow g-3 w-50 mx-auto rounded p-4 mt-5">
    <h2 class="text-center color-purple">Login</h2>

    <div class="col-md-6">
        <label for="email" class="form-label fw-bold">Correo</label>
        <input type="text" class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="" />
    </div>

    <div class="col-md-6">
        <label for="password" class="form-label fw-bold">Contraseña</label>
        <input type="password" class="form-control" name="password" id="password" aria-describedby="helpId"
            placeholder="" />
    </div>
    <div class="col-md-6">
        <button id="btn-login" class="btn w-100 bg-purple">Iniciar sesión</button>
        <small><a href="/register" class="nav-link link-primary pt-2">Crear cuenta</a></small>
    </div>
</form>
<script type="module" src="../../router.js"></script>